.portfolio-bg {
  background: var(--c9);
  text-align: center;
  background-image: url("../../img/icons/sobre-bg.png");
}

.port-grid {
  padding: 40px 0 40px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 80px 80px;
  flex-wrap: wrap;
  overflow: hidden;
}

.port-overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.port-overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: opacity 0.3s;
}

.port-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  border: 6px solid var(--c2);
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.port-overlay img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
}

.port-overlay img:hover {
  transform: scale(1.5);
}

.pic-4 {
  width: 250px;
  height: 250px;
  border: 6px solid var(--c1);
  background-color: var(--c2);
  overflow: hidden;
}

.pic-4 img {
  max-width: 100%;
  transition: 0.3s;
}

.pic-4 img:hover {
  transform: scale(1.15);
}

.border3 {
  position: relative;
}

.border3::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 16px;
  background: url("../../img/icons/border-img-top.svg") no-repeat center;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.border3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 16px;
  background: url("../../img/icons/border-img-bottom.svg") no-repeat center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

@media (max-width: 1550px) {
  .border3::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 16px;
    background: url("../../img/icons/border-img-bottom.svg") no-repeat center;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .port-overlay {
    display: flex;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 600px;
    min-height: 300px;
    min-width: 300px;
    transition: 0.3s;
    border: 6px solid var(--c2);
    overflow: hidden;
    z-index: 9999;
  }
}

@media (max-width: 1000px) {
  .pic-4 {
    width: 150px;
    height: 150px;
    border: 2px solid var(--c1);
  }
  .border3::before {
    background: url("../../img/icons/border-img-top-2.svg") no-repeat center;
    top: -0.5%;
  }
  .border3::after {
    background: url("../../img/icons/border-img-bottom-2.svg") no-repeat center;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

@media (max-width: 700px) {
  .pic-4 {
    width: 100px;
    height: 100px;
    border: 2px solid var(--c1);
  }
  .port-grid {
    gap: 32px;
  }
  .port-overlay {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .port-overlay {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 430px) {
  .port-grid {
    gap: 16px 8px;
  }
  .port-overlay {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  .port-grid {
    gap: 16px 4px;
  }
}
