header {
  background: #111;
  display: flex;
}

header ul {
  display: flex;
}

main {
  background: var(--c9);
  background-image: url("../../img/icons/pattern\ 1.svg");
  background-size: auto;
}

.intro-conteudo img {
  display: block;
  margin: 0 auto;
}

.intro-img img {
  max-width: 430px;
  max-height: 531px;
}

.intro-marca img {
  min-width: 85%;
  min-height: 85%;
  margin-top: -220px;
  padding-bottom: 80px;
}

.pres-1-bg {
  background: var(--c9);
}

.pres-2-bg {
  background: var(--c7);
}

.txt2 {
  text-align: right;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
}

.txt1 {
  right: 55%;
}

.pic-grid {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.pic {
  width: 240px;
  height: 240px;
  background-color: red;
}

.pic img {
  max-width: 100%;
}

.pic-2 {
  width: 240px;
  height: 240px;
}

.pic-2 img {
  width: 100%;
  mix-blend-mode: darken;
}

.pic-3 {
 width: 250px;
 height: 250px;
 border: 1px solid var(--c2);
 background-color: var(--c1);
}

.pic-3 img {
  max-width: 100%;
}

.avisos-flash {
  display: flex;
  padding: 20px 48px;
  gap: 140px;
}

.avisos-flash p {
  position: relative;
}

.avisos-flash p::before {
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../../img/icons/li-before-b.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: .5%;
}

.flashs-bg {
  background-image: url("../../img/icons/flashs-bg.png");
  background-size: contain;
}

.flashs h2 {
  text-align: center;
  padding: 40px;
}

.flashs-grid {
  padding: 0 0 40px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 32px 80px;
  flex-wrap: wrap;
}

.flash {
  display: grid;
  gap: 4px;
}

.flash-txt {
  display: flex;
  width: 252px;
  justify-content: space-between;
  align-items: center;
}

.flash-btn {
  display: flex;
  padding: 15px 20px;
  justify-content: flex-end;
  align-items: flex-start;
  background: var(--c2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--c9);
  max-width: max-content;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.flash-btn:hover {
  padding: 15px 36px;
  background: var(--c3);
}

.flash-btn:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 26px;
  background-image: url("../../img/icons/btn-b.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}

.flash-btn:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 26px;
  background-image: url("../../img/icons/btn-a.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}

.flash-btn:hover::before {
  left: 8px;
}
.flash-btn:hover::after {
  right: 8px;
}

.partners-bg {
  background: var(--c1);
}

.partners h2,
.partners-bg h3 {
  text-align: center;
}

.partners h2 {
  padding: 40px;
}

.partners-bg h3 {
  padding: 0 32px;
}

.partners ul {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 160px 0;
}

.partners li {
  align-items: center;
  padding: 0px 32px;
}

.partners img {
  margin: auto;
}

.partners li:first-child,
.partners li:nth-child(3) {
  border-left: none;
}

.partners li:nth-child(n + 2) {
  border-left: 6px solid var(--c3);
}

.partners-end {
  padding-top: 160px;
  max-width: 800px;
  margin: 0 auto;
}
.partners-end ul {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0px 0 20px 0;
}

.partners-end li {
  align-items: center;
  padding: 0px 8px 0px 0;
}

.partners-bg {
  min-height: 760px;
  background-image: url("../../img/icons/bg-partners.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
}

.end {
  background: var(--c9);
  position: relative;
}

.end-img {
  height: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -55px;
  margin-bottom: -55px;
}

.end-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

@media (max-width: 1400px) {
  .partners-bg {
    min-height: 760px;
    background-image: url("../../img/icons/bg-partners.svg");
    background-position: bottom;
    background-size: initial;
    background-repeat: repeat-x;
  }
}

@media (max-width: 1200px) {
  .info-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .txt1,
  .txt2 {
    text-align: center;
    margin: 1.5em;
  }

  .txt2 {
    grid-column: 1;
    grid-row: 2;
  }

  .pic-grid {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (max-width: 970px) {
  .partners li:first-child,
  .partners li:last-child {
    border-left: none;
  }

  .partners li:nth-child(2) {
    border-left: 6px solid var(--c2);
  }
  .partners li:first-child,
  .partners li:nth-child(2) {
    border-bottom: 6px solid var(--c2);
  }

  .partners li:last-child {
    margin-top: 20px;
  }
  .partners-end {
    padding-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .intro-conteudo img {
    max-width: 300px;
    max-height: 330px;
  }
  .intro-marca img {
    margin-top: -100px;
    padding-bottom: 40px;
  }
  .end-img img {
    overflow: hidden;
  }
  .avisos-flash {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 660px) {
  .partners li:nth-child(2) {
    border-left: none;
  }
  .partners li:first-child,
  .partners li:nth-child(2) {
    border-bottom: 6px solid var(--c2);
  }

  .partners li:last-child {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .pic {
    max-width: 200px;
    max-height: 200px;
  }
  .partners-bg {
    min-height: 1450px;
    background-image: url("../../img/icons/bg-partners-m.svg");
    background-position: bottom;
    background-size: fit;
    background-repeat: repeat-x;
  }
}

@media (max-width: 450px) {
  .intro-conteudo img {
    max-width: 300px;
    max-height: 330px;
  }
  .intro-marca img {
    margin-top: -100px;
  }
  .pic {
    max-width: 150px;
    max-height: 150px;
  }
  .pic-grid {
    margin-bottom: 0;
  }
}
